@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--color-black);
}

body {
  font-family: var(--font-main);
  background: var(--color-black);
  color: var(--color-text);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

::selection {
  background: rgba(77, 163, 255, 0.35);
  color: white;
}

.container {
  width: min(
    calc(100% - (var(--container-padding) * 2)),
    var(--container-width)
  );

  margin-inline: auto;
}

.section {
  position: relative;
  width: 100%;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-black);
}

::-webkit-scrollbar-thumb {
  background: #26323d;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-blue);
}
